### Alterar o Caminho_Para_Aplicacao
### Copiar para /etc/systemd/system/
### Executar sudo systemctl daemon-reload
### Inicializar com sudo systemctl start sgti-back.service

[Unit]
Description=SGTI ::: CMDB ::: API
After=network.target

[Service]
User=root
Group=apache
WorkingDirectory=/opt/aplicacoes/sgti/backend
ExecStart=/usr/local/bin/uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always
StandardOutput=append:/var/log/sgti.log
StandardError=append:/var/log/sgti_erro.log

[Install]
WantedBy=multi-user.target
